.location-rating {
  width: 100%;
  border-color: black;
  background-color: lightblue;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
}
.location-btn {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
