body {
  text-align: center
}
#header {
  font-size: 4em;
}

.home-submit-btn {
  padding: 1em;
}
.home-form {
  padding: 1em;
}
.home-text {
  text-align: center;
}
#placeImage {
    background-color: powderblue;
}
